body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1f2937;
  padding: 24px 10%;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}
